{% extends 'base.html.twig' %}

{% block title %}{{ post['title'] }}{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>{{ post['title'] }}</h1>

            {{ post['content']|raw }}

            <hr/>

            <a href="{{ path('post_index') }}" class="btn btn-default">Newsに戻る</a><br/>
            <br/>
        </div>
    </div>
{% endblock %}

