{% extends 'base.html.twig' %}

{% block title %}Page1{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Page2</h1>

            <p>サブディレクトリ内のサンプルページ</p>
        </div>
    </div>
{% endblock %}

